#gameboard {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
}

.tile {
    display: flex;
    border: 1px solid black;
    text-align: center;
    align-items: center;
    justify-content: center;
}